@tailwind base;
@tailwind components;
@tailwind utilities;

.icon {
  @apply text-base cursor-pointer hover:opacity-80;
}
.btn {
  @apply uppercase px-[40px] py-[15px] font-bold border border-solid rounded-md transition-all cursor-pointer;
}

.btn.primary {
  @apply border-primary text-white bg-primary hover:text-primary hover:bg-white;
}
.btn.reverse-primary {
  @apply text-primary border-primary hover:bg-primary hover:text-white;
}
